.headerHome {
  font-size: calc(1.475rem + 2.5vw) !important;
  color: white;
}

.paragraphHome {
  color: white;
  font-size: 1.5rem !important;
  font-weight: 400 !important;
}

.nav-item a {
  margin-top: 15px !important;
  text-decoration: none !important;
  /* color: black !important; */
}

.login {
  background-color: #f8f9fa;
  background-image: url("./Assets/photo_2025-10-27_18-51-04.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;

}
.navbar-brand{
  color: #4101a9 !important;
    font-weight: 600 !important;

}
.btn-header{
  border: 2px solid #9100ff !important;
  color: #4101a9 !important;
  padding: 10px 15px !important;
  font-weight: 500 !important;
}
.btn-header:hover{
  background-color: #9100ff !important;
  color: white !important;
  border: 2px solid #9100ff !important;

}
.login-btn {
  background: linear-gradient(to left, #5babd9, #9100ff);
  border: none !important;
  width: 50%;
  color: white !important;
  font-weight: 500 !important;
  margin: auto;
}

.login-con {
  border-radius: 20px;
  box-shadow: 0px 0px 12px 0px white !important;
  backdrop-filter: blur(50px);
}

.input-text {
  border: 3px solid #ffff !important;
  background: no-repeat !important;
  border-radius: 10px !important;
  color: white !important;
}
.input-text::placeholder {
  color: #ccc !important; 
  opacity: 1 !important; 
}

.userIcon {
  position: absolute;
  top: 70%;
  left: 15px;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 20px;
}

.user {
  position: relative;
  left: -36px;
  top: 34px;
  color: white !important;
}

.signup {
  color: rgb(255, 255, 255) !important;
  font-weight: 500;
}
