:root {
  --var-color: #6f42c1;
}


.headerHome {
  font-size: calc(1.475rem + 2.5vw) !important;
  color: white;
}

.paragraphHome {
  color: white;
  font-size: 1.5rem !important;
  font-weight: 400 !important;
}

.nav-item a {
  margin-top: 15px !important;
  text-decoration: none !important;
  /* color: black !important; */
}

.login {
  background-color: #f8f9fa;
  background-image: url("./Assets/photo_2025-10-27_18-51-04.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;

}

.navbar-brand {
  color: var(--var-color) !important;
  font-weight: 600 !important;

}

.btn-header {
  border: 2px solid var(--var-color) !important;
  color: var(--var-color) !important;
  padding: 10px 15px !important;
  font-weight: 500 !important;
  transition: .4s all ease-in-out !important;
}

.btn-header:hover {
  background-color: var(--var-color) !important;
  color: white !important;
  border: 2px solid var(--var-color) !important;

}

.login-btn {
  background: linear-gradient(to left, #5babd9, var(--var-color));
  border: none !important;
  width: 50%;
  color: white !important;
  font-weight: 500 !important;
  margin: auto;
}

.login-con {
  border-radius: 20px;
  box-shadow: 0px 0px 12px 0px white !important;
  backdrop-filter: blur(50px);
}

.input-text {
  border: 1px solid #ffff !important;
  background: no-repeat !important;
  border-radius: 10px !important;
  color: white !important;
}

.input-text::placeholder {
  color: #ccc !important;
  opacity: 1 !important;
}

.userIcon {
  position: absolute;
  top: 70%;
  left: 15px;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 20px;
}

.user {
  position: relative;
  left: -36px;
  top: 34px;
  color: white !important;
}

.signup {
  color: rgb(255, 255, 255) !important;
  font-weight: 500;
}

input:focus {
  box-shadow: 0px 0px 9px 0px #5babd9;
}

.cardHome {
  cursor: pointer;
  transition: all 0.3s ease;
}

.cardHome:hover {
  box-shadow:  0px 0px 10px 1px #cdb3ff;
}

.card-text,
.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.card-title2 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.image {
  height: 250px !important;
  object-fit: contain !important;
  padding: 10px;
}
.image2{
   height: 350px !important;
  object-fit: contain !important;
  padding: 10px;
}

.oneCard {
  display: flex !important;
  align-items: center !important;
  justify-content: space-evenly !important;
  flex-direction: unset !important;
}

.btn-move {
  font-size: 14px !important;
  background-color: var(--var-color) !important;
  border: none !important;
  color: white !important;
  border-radius: 5px !important;
}

.btn-home {
  background-color: var(--var-color) !important;
  border: none !important;
  color: white !important;
  border-radius: 5px !important;
  transition: all 0.4s ease-in-out !important;
}
.btn-home:hover{
  box-shadow: 0px 7px 7px 0px #a7a7a896 !important;
}
.button{
  transition: all 0.2s ease-in-out !important;
  border: 3px solid var(--var-color) !important;
  color: white !important;
  background-color: var(--var-color) !important;
}
.button:hover{
  background-color: white !important;
  border: 3px solid var(--var-color) !important;
  color: var(--var-color) !important;
}